<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--指定 MyBatis 应如何自动映射列到字段或属性。
        NONE 表示取消自动映射；
        PARTIAL 只会自动映射没有定义嵌套结果集映射的结果集。
        FULL 会自动映射任意复杂的结果集（无论是否嵌套）-->
        <!--<setting name="autoMappingBehavior" value="FULL"/>-->
        <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <!-- 将积极加载改为消息加载即按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>
        <package name="priv.llf.ability.course.south.model.mybatis" />
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="priv.llf.ability.course.south.utils.typeHandler.DateTypeHandler" javaType="java.util.Date"/>
        <typeHandler handler="priv.llf.ability.course.south.utils.typeHandler.JsonObjectTypeHandler" javaType="com.alibaba.fastjson.JSONObject"/>
    </typeHandlers>

</configuration>