<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd










        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--配置服务提供方名称-->
    <dubbo:application name="sport-service-course"/>
    <!-- 连接zookeeper注册中心 192.168.200.128:2181 -->
    <dubbo:registry address="192.168.3.19:2181" protocol="zookeeper"></dubbo:registry>
    <!-- 对外提供服务的端口号  默认20880 -->
    <dubbo:protocol host="192.168.3.19" port="20880"></dubbo:protocol>
    <!-- 对外暴露的接口 ref为接口对应的实现类-->
    <dubbo:service interface="priv.llf.ability.course.south.service.ICourseService" ref="courseService"></dubbo:service>
    <bean id="courseService" class="priv.llf.ability.course.south.service.impl.CourseServiceImpl"/>


</beans>